.svg-icon-white {
    width: 2em;
    height: 2em;
  
  }
  
  .svg-icon-white path,
  .svg-icon-white polygon,
  .svg-icon-white rect {
    fill: white;
  }
  
  .svg-icon-white circle {
    stroke:white;
    stroke-width: 1;
  }