.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  

  table {
    width: 100%;
  }


.custom-add{
    background: #a689ff;
    color: white;
    border: none;
    border-radius: unset;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 2px 8px rgba(0, 0, 0, 0.08);

}

.mat-elevation-z8{
  box-shadow: none !important;
}
  